@inherits LayoutComponentBase
@implements IDisposable
@using SweetBakeryQuest.Services
@inject GameState State

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center" style="background-color: #f8f9fa; border-bottom: 1px solid #d6d5d5;">

            <span class="me-4" style="font-size: 1.1rem; font-weight: bold; color: #5d4037;">
                🪙 @State.Gold монет
            </span>

            <span style="font-size: 1.1rem; font-weight: bold; color: #f57f17;">
                🌟 @State.Reputation репутації
            </span>

        </div>

        <article class="content px-4 mt-3">
            @Body
        </article>
    </main>
</div>

@code {
    // Наш улюблений патерн Observer для миттєвого оновлення шапки
    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }
}